<table
  style="
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
    background: #0b1410;
    background-size: cover;
    padding: 16px;
    border-top: 2px solid #5e5ce6;
    width: 100%;
    max-width: 600px;
  "
>
  <tr>
    <td style="vertical-align: middle">
      <img
        src="https://eidhaart.com/images/eidhaartsign.png"
        alt="Eidhaart"
        style="height: 48px; margin-bottom: 6px"
      />
      <div style="font-size: 0.95rem">Marcin Swieczkowski</div>
      <div style="font-size: 0.85rem; color: #971e1e">
        Full-Stack Web Developer
      </div>
      <div style="margin-top: 8px">
        <a
          href="mailto:Eidhaart@gmail.com"
          style="color: #ccc; text-decoration: none"
          ><a
            href="mailto:..."
            style="color: #ccc; text-decoration: none"
            onmouseover="this.style.color='#971e1e'"
            onmouseout="this.style.color='#ccc'"
            >Eidhaart@gmail.com</a
          ></a
        ><br />
        <a href="tel:+46739736248" style="color: #ccc; text-decoration: none"
          >+46 73 973 6248</a
        >
      </div>
    </td>
    <td style="text-align: right">
      <img
        src="https://eidhaart.com/images/eidhaart-red.png"
        alt="Eidhaart Logo"
        style="height: 60px; opacity: 0.9"
      />
    </td>
  </tr>
</table>
